.css-17uk3vh,
.css-va78e6 {
  font-size: 18px !important;
}

input::file-selector-button {
  background-color: var(--second-blue);
  color: white;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 5px 10px;
  border-radius: 4px;
  transition: var(--main-transition);
}
input::file-selector-button:hover {
  background-color: var(--black-color);
}

div:where(.swal2-container) button:where(.swal2-styled).swal2-confirm {
  border: none !important;
  outline: none !important;
}

.css-1uruvu9-MuiInputBase-root-MuiOutlinedInput-root {
  border-radius: 30px !important;
}
/* Styles for the add collab page*/
.collab__post,
.collab__detail {
  background-color: #fff;
  color: #111927;
  -webkit-transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  border-radius: 8px;
  box-shadow:
    0px 5px 22px rgba(0, 0, 0, 0.04),
    0px 0px 0px 0.5px rgba(0, 0, 0, 0.03);
  padding: 30px;
  overflow: hidden;
  border-radius: 20px;
}
.collab__post {
  margin-bottom: 20px;
}
/* Styles for the select options */
.select__wrapper {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.upload .label,
.select__wrapper .label {
  font-size: 22px;
  font-weight: 600;
  color: #111927;
}
.select__wrapper .arrow {
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  background-color: transparent;
  border-radius: 8px;
  border-style: solid;
  border-width: 1px;
  border-color: #e5e7eb;
  overflow: hidden;
  background-color: transparent;
  padding: 0 8px 0;
  margin-bottom: 15px;
}
.select__wrapper .arrow:hover {
  background-color: rgba(0, 0, 0, 0.06);
}
.select__wrapper .select {
  display: block;
  min-width: 0;
  width: 100%;
  font-size: 13px;
  font-weight: 500;
  line-height: 24px;
  color: #111927;
  box-sizing: border-box;
  border: none;
  overflow: hidden;
  background-color: transparent;
  padding: 16px 0;
  height: 100%;
  cursor: pointer;
}
.select__wrapper .select:focus {
  outline: none;
  cursor: pointer;
}
.select__wrapper .option__title,
.select__wrapper option.option {
  cursor: pointer;
  font-size: 15px;
  background-color: #fff;
}

/* .css-nw5nzo {
  padding-bottom: 0 !important;
} */

.css-geod0p-MuiPaper-root-MuiDialog-paper {
  max-height: calc(100% - 150px) !important;
}

.css-5vum82-MuiButtonBase-root-MuiCheckbox-root.Mui-checked,
.css-5vum82-MuiButtonBase-root-MuiCheckbox-root.MuiCheckbox-indeterminate {
  color: var(--second-blue) !important;
}

/* Edit form */
.css-1vzw10j {
  width: 500px !important;
}

input[type='file']:focus {
  outline: 2px solid var(--second-blue);
  border-radius: 6px;
}

.css-17uk3vh {
  transition: 0.1s !important;
}
.css-17uk3vh:hover {
  color: white !important;
}
.css-k6zr9g-MuiBadge-badge {
  background-color: var(--second-blue) !important;
}

.css-14xerxl-MuiButtonBase-root-MuiButton-root {
  background-color: #fafafa !important;
  color: var(--second-blue) !important;
  border-radius: 30px !important;
  transition: 0.3s !important;
}
.css-14xerxl-MuiButtonBase-root-MuiButton-root:hover {
  background-color: var(--second-blue) !important;
  color: #fafafa !important;
}
div:where(.swal2-container) {
  z-index: 10000 !important;
}
div:where(.swal2-container) button:where(.swal2-styled).swal2-confirm {
  background-color: var(--second-blue) !important;
}

.css-nw5nzo {
  padding-top: 50px !important;
  padding-bottom: 50px !important;
}
